* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif, Arial, Helvetica, Tahoma;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 0 20px #000;
  position: fixed;
  width: 100%;
  background: #fff;
}
header {
  display: block;
}
.separator {
  height: 90px;
}
/* nav {
  display: flex;
  align-items: center;
  height: 10vh;
} */

/* header nav {
  display: flex;
} */

header nav ul {
  display: flex;
  gap: 10px;
  letter-spacing: 5px;
  background: #fff;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

#open-button,
#close-button {
  display: none;
}

header .nav-button {
  display: none;
}

header .brand img {
  max-width: 100%;
}

.brand {
  width: 200px;
  padding: 0 20px;
}
.photo-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}
.photo-profile img{
  border-radius: 100%;
  object-fit: fill;
}
.links {
display: flex;
justify-content: end;
padding: 0 20px;
}
main {
  width: 80vw;
  margin: auto;
}
.section-profile {
  margin: auto;
  padding: 20px 0 50px 0;
}
.profile {
  background-color: rgb(255, 255, 255);
  border: 2px solid #fafafa;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 2px #a0a0b6;
}
.section-profile .profile p{
  font-size: 18px;
}
.section-profile .profile h1{
  padding-bottom: 10px;
}
.underline-titles {
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}
section .title-experience p{
  font-size: 24px;
  font-weight: bold;
}
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.experience img {
  border-radius: 100%;
  object-fit: fill;
}
.img-experience-company {
  padding: 30px 0 30px 0;
}
.labors {
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}
.studies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
section .title-studies p{
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: bold;
}
section .studies {
  padding-bottom: 30px;
}
.section-experience {
  width: 80vw;
  margin: auto;
}
.section-projects {
  text-align: center;
  margin: auto;
  padding: 20px 0;
}
footer {
  width: 100%;
  background: #0c0c0c;
  color: #fff;
  text-align: center;
  padding: 30px;
}
footer .contact-us {
  padding-bottom: 20px;
  font-size: 20px;
}
.contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttons-arrows {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-top: 15px;
}
.buttons-arrows button{
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* .buttons-arrows button:hover{
  background: #dfe5ad;
  border-radius: 100%;
  width: 24px;
  height: 24px;
} */
@media screen and (max-width: 500px) {

  /* header nav ul {
      display: none;
  } */
  .brand {
      width: 200px;
      padding: 0 20px;
  }

  #open-button,
  #close-button {
      display: block;
      justify-content: end;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0 0 0 20px;
      cursor: pointer;
      background: #fff;
  }

  .buttons-container #close-button {
      padding: 20px 0 0 20px;
  }

  nav ul {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      flex-direction: column;
      padding: 20px;
  }

  .buttons-container {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50px;
      left: 0;
      flex-direction: column;
      visibility: hidden;
      background: #fff;
  }

  .visible {
      visibility: visible;
  }

  .remove {
      visibility: hidden;
  }
  svg {
      width: 100%;
      height: 30px;
  }

  .separator-nav {
      display: none;
  }
  .photo-profile {
    flex-direction: column;
  }
}